/* estilo geral da pagina */
body {
    background-color: lightgray;
    font-family: arial;
    color: black;
}

/* cabecalho */
header {
    background-color: blue;
    color: white;
}

/* titulo principal */
#titulo-principal {
    color: white;
}

/* banner */
#banner {
    background-color: blue;
    color: white;
}

/* subtitulos */
h2 {
    color: blue;
}

/* titulos dos cursos */
h3 {
    color: black;
}

/* paragrafos */
p {
    color: black;
}

/* descricao */
.descricao {
    color: green;
}

/* links */
a {
    color: white;
}

/* rodape */
footer {
    background-color: blue;
    color: white;
}

footer p {
    color: white;
}